<!DOCTYPE html>
<html>
<div class="header">

</div>
  <body>
    <!-- Grid row -->
<div class="row d-flex justify-content-center">
  <!--Grid column-->
  <div class="col-md-4 d-flex justify-content-center" style="margin-top: -60px">

      <!--Avatar-->
      <div class="position-relative avatar mx-auto" mdbWavesEffect>
        <img src="./assets/img/cuarto.png" class="rounded-circle" routerLink="/main-component/cuarto">
      </div>

  </div>
  <!--Grid column-->

  <div class="col-md-4 d-flex justify-content-center" style="margin-top: -60px">
      <!--Avatar-->
      <div class="avatar mx-auto " mdbWavesEffect >
        <img src="./assets/img/quinto.png" class="rounded-circle">
      </div>
  </div>
  <!--Grid column-->



</div>
<!-- Grid row -->
  </body>
</html>
