
<div class="header bg- green lighten-2 pb-8 pt-5 pt-md-8 "> <!-- color del dashboard -->
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">

        <mdb-carousel [animation]="'slide'">
        <mdb-carousel-item *ngFor="let item of slides; let i = index">
          <div class="col-md-4" [ngClass]="{'d-none d-md-block': cardIndex !== 0}" *ngFor="let card of item; let cardIndex = index">
            <mdb-card class="my-1">
             <div class="view">
                  <mdb-card-img [src]="card.img" alt="Card image cap"></mdb-card-img>

                  <div class="mask pattern-2 flex-center">

                  <div class="carousel-caption">
                  <div class="animated fadeInDown">
                    <h3 class="h3-responsive">{{card.title}}</h3>
                    <p>{{card.description}}</p>
                  </div>
                </div>
              </div>

            </div>
            </mdb-card>
          </div>
        </mdb-carousel-item>
      </mdb-carousel>


      </div>
    </div>
  </div>
</div>

<!--contenido-->
<mdb-card>
 <mdb-card-body>
<div class="container-fluid" style="color:#a1887f" >
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow animated zoomInDown">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Novedades</h3>
        </div>
        <div class="card-group">
  <!-- Card -->
        <mdb-card>
          <div class="view rgba-white-slight waves-light" mdbWavesEffect>
            <!-- Card img -->
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg" alt="Card image cap"></mdb-card-img>
            <a>
              <div class="mask"></div>
            </a>
          </div>

          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <mdb-card-title>
              <h4>Biomas</h4>
            </mdb-card-title>

            <!--Text-->
            <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </mdb-card-text>

            <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
          </mdb-card-body>
        </mdb-card>

  <!-- Card -->
  <mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/48.jpg" alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4>Card Title</h4>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </mdb-card-text>

      <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
    </mdb-card-body>
  </mdb-card>

  <!-- Card -->
  <mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/77.jpg" alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4>Card Title</h4>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </mdb-card-text>

      <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
    </mdb-card-body>
  </mdb-card>
        </div>
      </div>
    </div>
  </div>
</div>
</mdb-card-body>
</mdb-card>
