section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-template-rows: auto;
    grid-gap: 10px;
    margin:  auto;
    max-width: 90%;
    z-index:1;
  }
  mat-card {
    margin: 10px 0;
  }
  