<!--modal-->
  <button size="sm" type="button" mdbBtn  class="green lighten-1-color white-text waves-light wow fadeInLeft waves-light" data-toggle="modal" data-target="#basicExample"
  (click)="frame.show()" data-wow-delay="0.3s" mdbWavesEffect>
    <mdb-icon fas icon="address-card" class="mr-1"></mdb-icon>Registro</button>


<div mdbModal #frame="mdbModal" class="modal fade right" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
  <div class=" modal-dialog modal-full-height modal-left modal-notify" role="document">
    <div class="modal-content">
      <!--Header-->
      <div class=" green lighten-1-color modal-header">
        <p class="heading lead">EcoKids
        </p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>


      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <mdb-icon far icon="thumbs-up" class="fa-4x mb-3 bounceIn" style="color:#ffd54f "></mdb-icon>

          <p>
            <strong>Eres importante para nosotros</strong>
          </p>
          <p>Registrate para aprovechar todas nuestras actividades.

          </p>
        </div>

        <hr>

        <!--Body-->


          <div class="modal-body">
            <form  action="/createEst"  method="post">
            <div class="md-form form-sm">
              <input mdbInput type="text" name="email" class="form-control" [formControl]="modalFormRegisterEmail">
              <label for="form24">Tu e-mail</label>
            </div>

            <div class="md-form form-sm">
              <input mdbInput type="password" name="password"  class="form-control" [formControl]="modalFormRegisterPassword">
              <label for="form25">Contraseña</label>
            </div>

            <div class="md-form form-sm">
              <input mdbInput type="text" name="name"  class="form-control" [formControl]="modalFormRegisterName">
              <label for="form26">Nombre</label>
            </div>
            <div class="md-form form-sm">
            <select name="genero" class="browser-default custom-select" [formControl]="modalFormRegisterGenre">
              <option selected>Género</option>
              <option value="1">M</option>
              <option value="2">F</option>

            </select>
            </div>
            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <input type="submit" value="Registro">


            </div>
          </form>

          </div>

      </div>



    </div>
  </div>
</div>
<!--modal-->
