<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  <div class="view intro"
    style="background-image: url(https://nidiaterry.files.wordpress.com/2015/03/1-noviembre-dia-mundia-de-la-ecologia.jpg); background-attachment: fixed; background-size: cover; height: 400px;">
    <div class="mask pattern-8 flex-center rgba-grey-slight">
      <div class="container">
        <div class="d-flex align-items-center d-flex justify-content-center" style="height: 600px; color:white;">
          <div class="row mt-5">
            <div class="col-md-12 wow fadeIn mb-3">
              <div class="intro-info-content text-center">
                <h2 class="h1 display-1 mb-2 wow fadeInDown" data-wow-delay="0.3s">Bienvenido Profesor </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      <!--seccion para agregar tarjeta-->

    <app-dasboard-post></app-dasboard-post>
    <app-list-post></app-list-post>
    <app-detail-post></app-detail-post>



  <div class="view intro "
    style="background-image: url(https://nidiaterry.files.wordpress.com/2015/03/1-noviembre-dia-mundia-de-la-ecologia.jpg); background-attachment: fixed; background-size: cover; min-height: 300px">
    <div class="mask pattern-8 flex-center rgba-grey-slight">
    </div>
  </div>




</body>

</html>