<!--modal-->
  <button size="sm" type="button" mdbBtn  class="green lighten-1-color white-text waves-light wow fadeInLeft waves-light" data-toggle="modal" data-target="#basicExample"
  (click)="frame.show()" data-wow-delay="0.3s" mdbWavesEffect>
    <mdb-icon fas icon="address-card" class="mr-1"></mdb-icon>Registro</button>

<form (ngSubmit)="onSubmit(contactForm);" #contactForm="ngForm">
<div mdbModal #frame="mdbModal" class="modal fade right" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
  <div class=" modal-dialog modal-full-height modal-left modal-notify" role="document">
    <div class="modal-content">
      <!--Header-->
      <div class=" green lighten-1-color modal-header">
        <p class="heading lead">EcoKids
        </p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <mdb-icon far icon="thumbs-up" class="fa-4x mb-3 bounceIn" style="color:#ffd54f "></mdb-icon>

          <p>
            <strong>Eres importante para nosotros</strong>
          </p>
          <p>Registrate para aprovechar todas nuestras actividades.

          </p>
        </div>

        <hr>

        <!--Body-->
          <div class="modal-body">
            <div class="md-form form-sm">
              <input mdbInput type="text" id="email" class="form-control" [formControl]="modalFormRegisterEmail">
              <label for="email">Your email</label>
            </div>

            <div class="md-form form-sm">
              <input mdbInput type="password" id="password" class="form-control" [formControl]="modalFormRegisterPassword">
              <label for="password">Your password</label>
            </div>

            <div class="md-form form-sm">
              <input mdbInput type="password" id="confirmpass" class="form-control" [formControl]="modalFormRegisterRepeatPassword">
              <label for="confirmpass">Repeat password</label>
            </div>

          </div>

      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type='submit' (click)="agregar()" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Enviar
          <i class="fas fa-paper-plane ml-1"></i>
        </a>

      </div>
    </div>
  </div>
</div>
</form>
