
<!-- Main navigation -->
<header>
  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">


  </mdb-navbar>
  <!-- Full Page Intro -->
  <div class="view" style="background-image: url('./assets/video/crecimiento.mp4'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row mt-5">
          <!--Grid column-->
          <div class=" col-md-6 ow flex-center text-md-left mb-5">
            <div class=" white-text">
              <h2 class="h1 h1-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s">Bienvenido a EcoKids </h2>
              <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
              <h5 class="wow fadeInLeft" data-wow-delay="0.3s">Plataforma virtual donde podrás aprender sobre la ecología de nuestro planeta,
              aprender a reciclar, la flora y fauna y realizarás ejercicios prácticos para medir tu conocimiento. Diviertete!</h5>
              <br>
              <a mdbBtn color="white" outline="true" class="wow fadeInLeft waves-light" data-wow-delay="0.3s"
                mdbWavesEffect>Leer más...</a>
            </div>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-md-6 col-xl-5 mb-4">
            <!--Form-->
              <app-login></app-login>
            <!--/.Form-->
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
  <!-- Full Page Intro -->
</header>
<!-- Main navigation -->
<!--Main Layout-->
