<button type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal.show()"
  mdbWavesEffect>Quiz</button>
<div mdbModal #basicModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
       <div class="brown darken-3 modal-header d-flex justify-content-center">
                  <p class="heading">Tu calificación es: </p>
                </div>
      </div>
      <div class="modal-body example-1 square scrollbar-dusty-grass square thin">
        <!-- Default form contact -->
        <div class="modal-body">
          <div class="text-center">
            <i class="far fa-file-alt fa-4x mb-3 animated rotateIn"></i>
            <p>
              <strong>¡Hagamos un quiz de lo que aprendiste!</strong>
            </p>
            <p>Pon a prueba tus conocimientos
              <strong>¡Comencemos!</strong>
            </p>
          </div>
          <div class="">
            <div class="form-group">
              <label for="input3" class="col-sm-4 control-label">Search Language for mock test:</label>
              <div class="col-sm-6">

                <select [(ngModel)]="selectedvalue" (change)="gettinglanguage()">
                  <option *ngFor="let g of languages" [value]="g">{{g}}</option>
                </select>
              </div>
            </div>

            <div class="jumbotron" *ngFor="let g of quizlist">
              <ul > 

                {{g.question}}

          

              <ul  *ngFor="let opt of [0,1,2,3]">
                 
                <div class="checkbox">
                  <label>
                    <input type="checkbox" (click)="check($event,opt)">
                    {{g.anslistobj[opt]}}
                  </label>
                </div>
              </ul>
              <button (click)="previous()" *ngIf="i>0">previous</button>
              <button (click)="next()" *ngIf="i<quizlength">next</button>
            </ul>
            </div>


            
            <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample"
            (click)="frame.show()" mdbWavesEffect>Listo</button>
          
          <div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
            aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-notify" role="document">
              <!--Content-->
              <div class="modal-content text-center">
                <!--Header-->
                <div class="brown darken-3 modal-header d-flex justify-content-center">
                  <p class="heading">Tu calificación es: </p>
                </div>
          
                <!--Body-->
                <div class="modal-body">
                  <mdb-icon fas icon="check" size="4x" class="animated rotateIn"></mdb-icon>
                  <p size="4x"> 
                      {{this.marks}}
                  </p>
                </div>
          
                <!--Footer-->
                <div class="modal-footer justify-content-center">
                  <a type="button" mdbBtn color="light-green" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="frame.hide()">OK</a>
                </div>
              </div>
              <!--/.Content-->
            </div>
          </div>



          <!-- Default form contact -->


          <!-- Default form contact -->