<button type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal.show()"
  mdbWavesEffect>Quiz</button>
<div mdbModal #basicModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
       <div class="d-flex justify-content-center">
                  <p class="heading"> Quiz</p>
                </div>
      </div>
      <div class="modal-body example-1 square scrollbar-dusty-grass square thin">
        <!-- Default form contact -->
        <div class="modal-body">
          <div class="text-center">
            <i class="far fa-file-alt fa-4x mb-3 animated rotateIn"></i>
            <p>
              <strong>¡Hagamos un quiz de lo que aprendiste!</strong>
            </p>
            <p>Pon a prueba tus conocimientos
              <strong>¡Comencemos!</strong>
            </p>
          </div>

          	<div class="form-group">
		<label for="input3" class="col-sm-4 control-label">Search Language for mock test:</label>
		<div class="col-sm-6">


  <select class="browser-default custom-select" [(ngModel)]="selectedvalue" (change)="gettinglanguage()">
      <option *ngFor="let g of languages" [value]="g">{{g}}</option>
    </select>

    <mat-form-field>
    <mat-select [formControl]="quizControl" [(ngModel)]="selectedvalue" (change)="gettinglanguage()" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let g of languages" [value]="g">
          {{g}}
        </mat-option>
    </mat-select>
      <mat-error *ngIf="quizControl.hasError('required')">Por favor elige la opcion de {{g}}</mat-error>
    </mat-form-field>


		</div>
	</div>

<div class="jumbotron">
  <ul>
{{question}}

  </ul>
  	<ul *ngFor="let opt of option">
					<div class="checkbox">
						<label>
             <input type="checkbox" (click)="check($event,opt)">
           {{opt}}
   <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>



   Option one
   </label>
					</div>
				</ul>
   <button (click)="previous()"*ngIf="i>0" >previous</button>
     <button  (click)="next()" *ngIf="i<quizlength">next</button>

</div>



	<button class="btn btn-info" (click)="generatemark()">submit</button>
</div>


          <!-- Default form contact -->


          <!-- Default form contact -->