
.sidebar-fixed .logo-wrapper img {
      max-height: 140px; }
      .active-pink-2 input[type=text]:focus:not([readonly]) {
      border-bottom: 1px solid #f48fb1;
      box-shadow: 0 1px 0 0 #f48fb1;

      }

      .active-pink .fa,
      .active-pink-2 .fa {
      color: #f48fb1;
      }
