<button type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal.show()" mdbWavesEffect> Reino Fungi</button >
  <div mdbModal #basicModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
     aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                      <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title w-100" id="myModalLabel">Reino Fungi</h4>
              </div>
              <div class="modal-body">
                  <h4 class="green-text d-flex justify-content">
                      Reino Hongos
               </h4>
               <hr color="#a1887f">
               <h5>
                  <p>Este grupo taxonómico está formado por todas las plantas que habitan nuestro planeta, como los pinos, los robles, los tulipanes, 
                      las palmeras o el banano. Algunas de las características del reino Vegetal más destacadas son:
                      <li>
                           Necesitan hábitats fijos para desarrollarse, que incluye tanto la tierra como el agua.
                      </li>
                      <li>
                           Realizan la síntesis de sus propios alimentos mediante el proceso de fotosíntesis, utilizando la luz solar, el agua y el dióxido de carbono.
                      </li>
                   </p>
                   </h5>
              </div>
              <div class="modal-footer justify-content-center">
                  <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>COOL</button>
              </div>
          </div>
      </div >
  </div >