<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div class="view intro" style="background-image: url(https://nidiaterry.files.wordpress.com/2015/03/1-noviembre-dia-mundia-de-la-ecologia.jpg); background-attachment: fixed; background-size: cover; height: 400px;">
    <div class="mask pattern-8 flex-center rgba-grey-slight">
        <div class="container">
            <div class="d-flex align-items-center d-flex justify-content-center" style="height: 600px; color:white;">
                <div class="row mt-5">
                    <div class="col-md-12 wow fadeIn mb-3">
                        <div class="intro-info-content text-center">
                            <h2 class="h1 display-1 mb-2 wow fadeInDown" data-wow-delay="0.3s">Bienvenido Estudiante </h2>
                            <h5 class="font-up mb-3 mt-1 font-bold wow fadeIn" data-wow-delay="0.4s">Tu perfil </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<mdb-card>
 <mdb-card-body>
<div class="container-fluid" style="color:#a1887f" >
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow animated zoomInDown">
        <div class="card-group">

          <!-- Section: form gradient -->

          <div class="col-md-6 ">

          <!--Form with header-->
          <mdb-card>

            <!--Header-->
            <div class="header tempting-azure-gradient">

              <div class="row d-flex justify-content-center">
                <h3 class="white-text mb-0 py-5 font-weight-bold">Mi cuenta</h3>
              </div>

            </div>
            <!--Header-->

            <mdb-card-body class="mx-4">

              <div class="md-form">
                <i class="fas fa-user prefix grey-text"></i>
                <input type="text" id="form104" class="form-control" mdbInput>
                <label for="form104">Nombre</label>
              </div>

              <div class="md-form">
                <i class="fas fa-envelope prefix grey-text"></i>
                <input type="text" id="form105" class="form-control" mdbInput>
                <label for="form105">email</label>
              </div>

              <div class="md-form">
                <i class="fas fa-tag prefix grey-text"></i>
                <input type="text" id="form106" class="form-control" mdbInput>
                <label for="form106">ID</label>
              </div>

              <div class="md-form">
                <i class="fas fa-pencil-alt prefix grey-text"></i>
                <textarea type="text" id="form107" class="md-textarea form-control" rows="5" mdbInput></textarea>
                <label for="form107">Sobre ti</label>
              </div>


              <!--Grid row-->
              <div class="row d-flex align-items-center mb-3 mt-4">

                <!--Grid column-->
                <div class="col-md-12">
                  <div class="text-center">
                    <button type="button" mdbBtn color="grey" rounded="true" class="z-depth-1a">Actualizar</button>
                  </div>
                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->
            </mdb-card-body>

          </mdb-card>
          <!--/Form with header-->


        </div>

        <div class="col-md-6 ">

          <mdb-card >
            <mdb-card-body>
              <div class="text-center">
                <div class="avatar" style="margin-top: -60px">
                    <img src="./assets/img/brand/ecokids.png" height="96" width="96" class="rounded-circle z-depth-0" alt="avatar image">
                </div>

                <h3  class="mt-4">Anonymous</h3>
                <h3  class="mt-4">Anonymous user</h3>

                <a mdbBtn class="mt-3" color="primary">
                  <i class="fa fa-sign-out"></i>
                  Logout
                </a>
              </div>
            </mdb-card-body>
          </mdb-card>


      </div>
      </div>
    </div>
    </div>
    </div>

    </div>
    </mdb-card-body>
</mdb-card>



    <div class="view intro " style="background-image: url(https://nidiaterry.files.wordpress.com/2015/03/1-noviembre-dia-mundia-de-la-ecologia.jpg); background-attachment: fixed; background-size: cover; min-height: 300px">
      <div class="mask pattern-8 flex-center rgba-grey-slight">
      </div>
    </div>




</body>
</html>
