<!DOCTYPE html>
<html>
<div class="header">

</div>
  <body>
    <!-- Grid row -->
<div class="row">
  <div class="column-2 px-2 mb-r">

    <!--Card-->
    <div class="card primary-color-dark" style="width: 22rem;
    height: 18rem;
    top: -100px;
    left: 300px;">

      <!--Card content-->
    <div class="card-body text-center">
      <div class="view overlay waves-light" style="width: 300px; height: 300px;" mdbWavesEffect>
          <mdb-card-img src="./assets/img/cuarto.png" ></mdb-card-img>
      </div>
      </div>

    </div>
    <!--/.Card-->

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="column-2 px-2 mb-r">

    <!--Card-->
    <div class="card brown lighten-2-color-dark" style="width: 22rem;
    height: 18rem;
    top: -100px;
    left: 300px;">

      <!--Card content-->
    <div class="card-body text-center">
      <div class="view overlay waves-light" style="width: 300px; height: 300px;" mdbWavesEffect>
          <mdb-card-img src="./assets/img/quinto.png" ></mdb-card-img>
      </div>
      </div>

    </div>
    <!--/.Card-->

  </div>

</div>
<!-- Grid row -->
  </body>
</html>
